<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteRule ^accounts/?$ index.php?cat=1
    RewriteRule ^rooms/?$ index.php?cat=2
    RewriteRule ^rooms/([0-9]+)/?$ index.php?cat=2&id=$1
</IfModule>
